@model AulaCore.Models.FilmeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Filme</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filme.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filme.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filme.Ano)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filme.Ano)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genero.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genero.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Filme.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
